<div class="py-1">
<div class="py-2 tweet-wrapper">
<%= image_tag tweet.twitter_account.image, style:"border-radius:50%; width:50px; margin-top:10px" %>
<%= link_to "@#{tweet.twitter_account.username}", "https://twitter.com/#{tweet.twitter_account.username}" , target: :_blank %>
<p class="pt-2">
<%= tweet.body %>
</p>

<% if tweet.published? %>
    <%= link_to "View Tweet", "https://twitter.com/#{tweet.twitter_account.username}/status/#{tweet.tweet_id}", target: :_blank , class: "btn btn-smale"%>
     <%= link_to "Delete", tweet, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-delete btn-smale" %>
<% else %>
 
        <div class="times">
        Scheduled for
        <div class="time">
        <%= l tweet.published_at.to_date, format: :long %> <%= tweet.getStringTime(tweet.published_at) %>
        </div>
            <i class="mx-2">or</i>  
            <%= link_to "Post Now", publish_tweet_path(tweet) , class: "font-weight-bold" , method: :post %>
        </div>
    <div>
    <%= link_to "Edit Tweet", edit_tweet_path(tweet) , class: "btn btn-smale" %>
    <%= link_to "Delete", tweet, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-delete btn-smale" %>
    </div>

<% end %>
</div>
</div>


